:root {
  --primary-color: #ffa500;
  --transition: all 0.65s ease-in-out;
  --dark-color: #1a1a1a;
}

* {
  font-family: "roboto", sans-serif;
}

button {
  padding: 0.5em 2em;
  font-size: 16px;
  outline: none;
  border: 1px solid transparent;
  background-color: transparent;
  border-radius: 50px;
  transition: var(--transition);
}

button:hover {
  transform: scale(0.98);
  transition: var(--transition);
}

.main-btn {
  background-color: var(--primary-color);
  color: white;
}

#navigation_bar {
  padding: 1em 3em;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.navbar-brand {
  background: linear-gradient(180deg, #fccb6f, var(--primary-color) 96.71%);
  display: inline-block;
  padding: 1%;
  padding-top: 5%;
  height: 130px;
  position: absolute;
  font-weight: bolder;
  z-index: +1004;
}

#navigation_bar a:link {
  color: white;
}
#navigation_bar a:visited {
  color: white;
}
#navigation_bar a:hover {
  color: #f7f7f7;
}
#navigation_bar a:active {
  color: white;
}

#navigation_bar .nav-link {
  font-size: 18px;
  color: var(--dark-color) !important;
  cursor: pointer;
}

#navigation_bar .action-btn {
  margin-left: 10em;
}

input {
  display: block;
  width: 100%;
  padding: 0.75em 1em;
  margin-bottom: 1em;
  border: 1px solid #f2f2f2;
  border-radius: 5px;
}

input::placeholder {
  color: #b3b3b3;
}

.product-card-small {
  width: 250px;
  height: 350px;
  background-color: antiquewhite;
  border: 1px solid grey;
}

.hero-part {
  height: 70vh;
  background-color: white;
  display: grid;
  grid-template-columns: 40% auto;
  grid-template-rows: auto;
  align-items: center;
  padding: 2em 6em;
  column-gap: 2em;
}

.hero-part h1 {
  font-size: clamp(60px, 5vw, 25px);
  font-weight: 700;
  margin-bottom: 0.5em;
}

.hero-part p {
  font-size: 18px;
  margin-bottom: 2.5em;
}

.hero-part .img-side {
  justify-self: right;
  text-align: center;
}

.hero-part .img-side img {
  width: 50%;
}

.featured-categories {
  background-color: var(--dark-color);
  padding: 6em;
}

.featured-categories h2 {
  color: var(--primary-color);
  font-size: 40px;
  font-weight: 400;
}

.featured-categories p {
  font-size: 18px;
  color: #b3b3b3;
  margin-bottom: 2em;
}

.featured-categories .category-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: auto;
  column-gap: 1em;
}

.featured-categories .category-container .category img {
  width: 100%;
  display: block;
  margin-bottom: 2em;
  border-radius: 15px;
}

.featured-categories .category-container .category h3 {
  font-size: 22px;
  color: white;
  margin-bottom: 0.5em;
}

.featured-categories .category-container .category p {
  font-size: 14px !important;
  color: #b3b3b3;
}

.login-page,
.signup-page {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
}

.login-page .form-container,
.signup-page .form-container {
  background-color: white;
  padding: 2em;
  border-radius: 5px;
  width: 450px;
  margin-bottom: 2em;
}

.login-page .form-container .header-part,
.signup-page .form-container .header-part {
  margin-bottom: 3em;
  text-align: center;
}

.login-page .form-container .header-part h3,
.signup-page .form-container .header-part h3 {
  font-size: 25px;
  font-weight: 500;
}

.login-page .form-container .header-part p,
.signup-page .form-container .header-part p {
  font-size: 14px;
  color: #b3b3b3;
}

.login-page .form-container .main-btn,
.signup-page .form-container .main-btn {
  display: block !important;
  width: 100%;
}

.login-page .other-links p,
.signup-page .other-links p {
  margin-top: 2em;
  text-align: center !important;
  margin: 0;
  font-size: 14px;
  margin-bottom: 0.5em;
  color: #b3b3b3;
}

.login-page .other-links p a,
.signup-page .other-links p a {
  color: var(--primary-color);
}

.products-home {
  display: grid;
  grid-template-columns: 20vw auto;
  grid-template-rows: auto;
  column-gap: 2em;
  padding: 4em 0;
}

.products-home .main-side {
  padding: 0 3em;
}

.cart .cart-container {
  height: 70vh;
  background-color: white;
  align-items: center;
  padding: 2em 6em;
  column-gap: 2em;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.cart ul {
  list-style: none;
  margin-left: -25px;
  margin-right: 12px;
}

.cart li {
  margin-top: 1.5%;
}
.cart .cart-item {
  padding: 1em 3em;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.cart .instock-placeholder {
  color: green;
}

.cart .remove-from-cart {
  position: absolute;
  right: 2%;
  bottom: 1%;
  color: rgb(188, 188, 188);
}

.cart .remove-from-cart-text {
  color: rgb(188, 188, 188);
  font-size: 12px;
}

.cart a {
  color: var(--primary-color);
}
